.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;

  &__logo img {
    width: 50px;
    height: auto;
  }

  &__nav {
    margin-left: auto;

    &-list {
      display: flex;
      gap: 1.5rem;
      list-style: none;

      li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: #ff6347;
        }
      }
    }
  }
}
